@import "tailwindcss";

@layer base {
    h1 {
      font-size: var(--text-2xl);
    }
    h2 {
      font-size: var(--text-xl);
    }
    h3 {
      font-size: var(--text-lg);
    }
    a {
      color: var(--color-blue-600);
      text-decoration-line: underline;
    }
  }

.menu-link {
  @apply text-left text-xs md:text-sm text-blue-950 hover:text-blue-800;
  text-decoration: none;
}

